@use "sass:map";
@use "sass:list";

// Breakpoint viewport sizes (name: minimum width), small → large
$grid-breakpoints: (
  xs: 0,
  xsm: 390px,
  sm: 428px,
  md: 768px,
  lg: 1024px,
  lgg: 1200px,
  xl: 1440px,
  xxl: 1920px,
  xxxl: 3440px,
  ) !default;

@function breakpoint-next($name,
  $breakpoints: $grid-breakpoints,
  $breakpoint-names: map.keys($breakpoints)) {
  $n: list.index($breakpoint-names, $name
  );

@if $n !=null and $n < list.length($breakpoint-names) {
  @return list.nth($breakpoint-names, $n + 1);
}

@return null;
}

@function breakpoint-min($name, $breakpoints: $grid-breakpoints) {
  $min: map.get($breakpoints, $name);

  @if $min !=0 {
    @return $min;
  }

  @return null;
}

@function breakpoint-max($name, $breakpoints: $grid-breakpoints) {
  $next: breakpoint-next($name, $breakpoints);

  @if $next !=null {
    @return breakpoint-min($next, $breakpoints) - 0.02px;
  }

  @return null;
}

@function breakpoint-infix($name, $breakpoints: $grid-breakpoints) {
  @if breakpoint-min($name, $breakpoints)==null {
    @return "";
  }

  @return "-#{$name}";
}

@mixin media-breakpoint-up($name, $breakpoints: $grid-breakpoints) {
  $min: breakpoint-min($name, $breakpoints);

  @if $min {
    @media screen and (min-width: $min) {
      @content;
    }
  }

  @else {
    @content;
  }
}

@mixin media-breakpoint-down($name, $breakpoints: $grid-breakpoints) {
  $max: breakpoint-max($name, $breakpoints);

  @if $max {
    @media screen and (max-width: $max) {
      @content;
    }
  }

  @else {
    @content;
  }
}

@mixin media-breakpoint-between($lower,
  $upper,
  $breakpoints: $grid-breakpoints) {
  $min: breakpoint-min($lower, $breakpoints);
  $max: breakpoint-max($upper, $breakpoints);

  @if $min !=null and $max !=null {
    @media screen and (min-width: $min) and (max-width: $max) {
      @content;
    }
  }

  @else if $max ==null {
    @include media-breakpoint-up($lower, $breakpoints) {
      @content;
    }
  }

  @else if $min ==null {
    @include media-breakpoint-down($upper, $breakpoints) {
      @content;
    }
  }
}

@mixin media-breakpoint-only($name, $breakpoints: $grid-breakpoints) {
  $min: breakpoint-min($name, $breakpoints);
  $max: breakpoint-max($name, $breakpoints);

  @if $min !=null and $max !=null {
    @media screen and (min-width: $min) and (max-width: $max) {
      @content;
    }
  }

  @else if $max ==null {
    @include media-breakpoint-up($name, $breakpoints) {
      @content;
    }
  }

  @else if $min ==null {
    @include media-breakpoint-down($name, $breakpoints) {
      @content;
    }
  }
}