@forward "functions";
@forward "breakpoints";

$font-sans: "Roboto", system-ui, sans-serif;
$font-alt: "Source Sans Pro", system-ui, sans-serif;

// Colors
$dark-teal: #007d8a;
$medium-teal: #00aec7;
$light-teal: #00c1d4;
$cool-gray: #c8c9c7;
$white: #ffffff;
$black: #000000;


// Sizing
$s-max-container-width: 1440px;
$s-padding-x: 16px;
$s-padding-y: 16px;

// Section
$section-left: $s-padding-x;
$section-right: $s-padding-x;


// Container
.container {
    max-width: var(--s-max-container-width);
    padding-left: var(--section-left, var(--s-padding-x));
    padding-right: var(--section-right, var(--s-padding-x));
    margin-left: auto;
    margin-right: auto;

}