@use "../../variables.scss" as *;

.section-title {
    margin: 0;
    font-size: px-to-rem(28);
    letter-spacing: 0.03em;
    font-weight: 500;
    line-height: 1.3;
    color: $dark;
    text-align: center;

    @include media-breakpoint-up(md) {
        font-size: px-to-rem(36);
    }

    @include media-breakpoint-up(lg) {
        font-size: px-to-rem(36);

    }

    @include media-breakpoint-up(xl) {
        font-size: px-to-rem(48);

    }

}